
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<div *ngIf="this.authService.isLoggedIn" id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Admin catalog</div>
        </a>

        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Website
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/products">
                <i class="fas fa-fw fa-cog"></i>
                <span>Products</span>
            </a>
            <a class="nav-link collapsed" routerLink="/users" >
                <i class="fas fa-users"></i>
                <span>Users</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLinkActive="active" routerLink="/orders" >
                <i class="fas fa-shopping-cart"></i>
                <span>Orders</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLinkActive="active" routerLink="/products" >
                <i class="fas fa-fw fa-wrench"></i>
                <span>KPI's</span>
            </a>
        </li>

        <hr class="sidebar-divider d-none d-md-block">
        <button (click)="logout()" *ngIf="this.authService.isLoggedIn" type="button" class="btn text-white">
            Logout
          </button>

    </ul>
    <!-- End of Sidebar -->

    <router-outlet></router-outlet>
</div>

<router-outlet></router-outlet>
